<div class="panel panel-default" ng-init="showEmployee()">
	<div class="panel-heading"  style="background-color:darkorange;font:caption">
	  <p class="panel-title"><span style="color:#5bc0de;" 
class="glyphicon glyphicon-edit"> </span> Edit Employee</p>
	</div>
	<div class="panel-body">
		<form  name="formValidation" ng-submit="updateEmployee()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name"  required ng-model="employee.name" value="employee.name">
    </div>
    <div class="form-group">
      <label for="dept">Department:</label>
      <input type="text" class="form-control" id="dept" ng-model="employee.dept" value="employee.dept">
    </div>
    
    <div class="form-group">
      <label for="gender">Gender:</label>
      <input type="text" class="form-control" id="gender" ng-model="employee.gender" value="employee.gender">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email"  ng-model="employee.email" value="employee.email" required>
    </div>
    <div class="form-group">
      <label for="dob">DOB:</label>
      <input type="text" class="form-control" id="datepicker"   ng-model="employee.dob  " value="employee.dob" required>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="text" class="form-control" id="age"  ng-readonly="true"   ng-model="employee.age" value="employee.age">
    </div>
    <button type="submit" style="background-color:#5bc0de;" class="btn btn-default">Update</button>
    <a href="#/employees" style="background-color:darkorange;" class="btn btn-default"> Cancel</a>
</form>		
    <div>
<div>
    <script>
    
        $(function() {
           $( "#datepicker" ).datepicker();
         
          //  $( "#datepicker" ).datepicker("show");
        });
       </script>